.App {
  text-align: center;
  background-image: linear-gradient(90deg, #a238ff 25%, #1ed760 75%);
}

.App-header {
  min-height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
